{% extends 'base.html' %}

{% block topnav %}
  {% if g.user %}
    <div class="top-menu">

                <h1>{{ g.user['username'] }}</h1>
                <a href="{{ url_for('blog.create') }}">
                    <span class="icon"><i class="fas fa-pen"></i></span>
                    <span class="item">Create New Post</span>
                </a>
            </div>
  {% endif %}
{% endblock %}
{% block posts %}
  <p class="title">{% block title %}Your Posts ({{ length }}){% endblock %}</p>
{% endblock %}
{% block content %}
  {% for post in posts %}
    <article class="post">
        <div class="body">
                        <h2>{{ post['title'] }}</h2>
                        <p class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</p>
                        <br>
                        <p>{{ post['body'] }}</p>
        </div>
        {% if g.user['id'] == post['author_id'] %}
        <br>
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">
                        <span class="icon"><i class="fas fa-trash"></i></span>
                        <span class="item">Edit Post</span>
                    </a>
        {% endif %}
    </article>
  {% endfor %}
{% endblock %}
